## Release Information

* Note: Please be aware that the project will have frequent updates to the main branch. There are no compatibility guarantees associated with code in any branch, including main, until a new release is created. For example, changes may be reverted before a release is created. **For best results, use the latest available release**.

* **NEW**: The latest public release is [{{latest_public_release}}]({{github_url}}), with the following API versions:

{{#apis}}
  * **{{file_name}} v{{version}}**
  [[YAML]](https://github.com/camaraproject/{{repo_name}}/blob/{{latest_public_release}}/code/API_definitions/{{file_name}}.yaml)
  [[View it on ReDoc]](https://redocly.github.io/redoc/?url=https://raw.githubusercontent.com/camaraproject/{{repo_name}}/{{latest_public_release}}/code/API_definitions/{{file_name}}.yaml&nocors)
  [[View it on Swagger UI]](https://camaraproject.github.io/swagger-ui/?url=https://raw.githubusercontent.com/camaraproject/{{repo_name}}/{{latest_public_release}}/code/API_definitions/{{file_name}}.yaml)

{{/apis}}
* The latest public release is available here: https://github.com/camaraproject/{{repo_name}}/releases/latest
* Other releases of this repository are available in https://github.com/camaraproject/{{repo_name}}/releases
* For changes see [CHANGELOG.md](https://github.com/camaraproject/{{repo_name}}/blob/main/CHANGELOG.md)

_This section is automatically maintained by the CAMARA [project-administration](https://github.com/camaraproject/project-administration) tooling._
